@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.special-color {
  background: linear-gradient(
    90deg,
    #ff6b00 -4.3%,
    #ff8833 40.68%,
    #ffb580 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.typeWriter-color {
  background: linear-gradient(
    90deg,
    #ff6b00 -4.3%,
    #ff8833 40.68%,
    #ffb580 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.photo-album {
  visibility: hidden;
}

.photo:hover .photo-album {
  visibility: visible;
}
.photo img {
  transition: 2s;
}
.photo:hover img {
  transform: scale(1.5);
  transition: 2s;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-button:single-button {
  height: 0;
  width: 0;
}

body::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #ff6b00;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
